<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server via WebSocket');
        });

        socket.on('attendance_status', function(data) {
            var statusElement = document.getElementById('attendance-status');
            statusElement.textContent = 'Attendance Status: ' + data.status;
        });

        socket.on('attendance_result', function(data) {
            var resultElement = document.getElementById('attendance-result');
            if ('error' in data) {
                resultElement.textContent = 'Error: ' + data.error;
            } else {
                resultElement.textContent = 'Name: ' + data.name + ', Other Details: ' + data.other_details;
            }
        });

        function startAttendance() {
            socket.emit('start_attendance');
        }

        function stopAttendance() {
            socket.emit('stop_attendance');
        }
    </script>
</head>
<body>
    <h1>Fingerprint Attendance System</h1>
    <p id="attendance-status">Attendance Status: Stopped</p>
    <button onclick="startAttendance()">Start Attendance</button>
    <button onclick="stopAttendance()">Stop Attendance</button>
    <p id="attendance-result">Attendance Result: </p>
</body>
</html>
