{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<body class="text-center">
<h1>Login</h1>
<form method="POST" class="form-register">
  {{ form.hidden_tag() }}
  <div class="form-floating mb-3">
    {{ form.staff_no(class="form-control", placeholder="Staff Number") }}
    {{ form.staff_no.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.password(class="form-control", placeholder="Password") }}
    {{ form.password.label() }}
  </div>
  <div class="checkbox mb-4">
    <h6>Do not have an account?</h6>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
  </div>
  {{ form.submit(class="btn btn-lg btn-block btn-primary mb-3") }}

</form>
</body>
{% endblock %}