{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<!-- <body class="text-center" onload="facultyList()"> -->
<body class="text-center">
<h1>Register As a Lecturer</h1>

<form method="POST" class="form-register">
  {{ form.hidden_tag() }}
  <div class="form-floating mb-3">
    {{ form.staff_no(class="form-control", placeholder="Staff Number") }}
    {{ form.staff_no.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.first_name(class="form-control", placeholder="First Name") }}
    {{ form.first_name.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.last_name(class="form-control", placeholder="Last Name") }}
    {{ form.last_name.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.email_address(class="form-control", placeholder="Email Address") }}
    {{ form.email_address.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.password(class="form-control", placeholder="Password") }}
    {{ form.password.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.confirm_password(class="form-control", placeholder="Password") }}
    {{ form.confirm_password.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.faculty(class="form-control", onchange="updateDepts(this)") }}
    {{ form.faculty.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.department(class="form-control") }}
    {{ form.department.label() }}
  </div>
  <br>
  <div class="checkbox mb-4">
    <h6>Already have an Account?</h6>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('auth.login') }}">Log In</a>
  </div>
  {{ form.submit(class="btn btn-lg btn-block btn-primary mb-3") }}
</form>

</body>
{% endblock %}