{% extends "base.html" %}
{% block title %}
    Enroll
{% endblock %}

{% block content %}
<body class="text-center" onload="facultyList()">
<h1>Register As a Student</h1>

<form method="POST" class="form-register">
  {{ form.hidden_tag() }}
  <div class="form-floating mb-3">
    {{ form.matric_no(class="form-control", placeholder="Matric Number") }}
    {{ form.matric_no.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.first_name(class="form-control", placeholder="First Name") }}
    {{ form.first_name.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.last_name(class="form-control", placeholder="Last Name") }}
    {{ form.last_name.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.level(class="form-control") }}
    {{ form.level.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.faculty(class="form-control", onchange="updateDepts(this)") }}
    {{ form.faculty.label() }}
  </div>
  <div class="form-floating mb-3">
    {{ form.department(class="form-control") }}
    {{ form.department.label() }}
  </div>
  <br>
  <div class="checkbox mb-4">
    <h6>Already enrolled?</h6>
    <a class="btn btn-sm btn-secondary" href="{{ url_for('auth.student_login') }}">Log In</a>
  </div>
  {{ form.submit(class="btn btn-lg btn-block btn-primary mb-3") }}
</form>

</body>
{% endblock %}